.header {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 10px 0px;
  margin: 0px 1% 10px 1%;
  border-bottom: 1px solid #2a2a2a;
}

.header_logo {
  width: 45%;
}

.header_box {
  display: flex;
  width: 25%;
  justify-content: space-around;
}

@media (max-width: 720px) {
  .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header_logo {
    margin: 20px;
    width: 100%;
  }

  .header_box{
    width: 100%;
  }
}
